*.o
*.dSYM
*.csv
*.out
*.png
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
darknet

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

# self defined #
assets/
obj/
result/
*.bak
*.sh

# sdsoc #
*.elf
*.bit
sd_card/
_sds/
*.stats
*.tar.gz
